<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/profile.css' />
  </head>
  <body>
    <a href="/users/logout">Log Out</a>
    <h1><%= title %></h1>
    <p>Welcome <%= uname %></p>
    <table>
      <%- product_cell%>
    </table>
  </body>
</html>
